{% extends 'index.html' %}
{% load static %}
{% block title %}Tags{% endblock %}
{% block content %}
<div class="row">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span class="material-icons">
            keyboard_arrow_left
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
      <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
          <span class="material-icons">
            keyboard_arrow_right
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
    <div class="col-12">
        {% if tags %}
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Tags</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Productos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for tag in tags %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{tag.name |capfirst}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <a class="btn btn-info" role="button" href="{% url 'products_by_tag' tag.slug tag.id %}">
                      Ver Productos
                    </a>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if tag.status == '1' %}
                    <span class="badge badge-sm bg-gradient-success">Disponible</span>
                    {% endif%}
                    {% if tag.status == '2' %}
                    <span class="badge badge-sm bg-gradient-secondary">No Disponible</span>
                    {% endif%}
                  </td>
                  <td class="align-middle">
                      <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'tag_update' tag.slug %}"><i class="material-icons text-sm me-2">edit</i>Editar</a>
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'tag_delete' tag.slug %}"><i class="material-icons text-sm me-2">delete</i>Borrar</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible text-white">
          <span class="text-sm">No hay categoías</span>
        </div>
      {% endif %}
      
    </div>
    <div class="col-6">
        <a href="{% url 'tag_create' %}" role="button" class="btn btn-primary  btn-lg w-100">
            Crear Tag
      </a>
    </div>
  </div>
  {% endblock %}