{% extends 'index.html' %}
{% load static %}
{% block title %}Subir archivo{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="p-4">
                <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
                 {{form.as_p}}
                  <button type="submit" class="btn bg-gradient-primary">Subir</button>
                </form>
              </div>
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        <div>
    </div>
{% endblock %}